@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #18122B;
  color: white;
}
*::-webkit-scrollbar{
  display: none;
}
.LOGO{
  background: linear-gradient(to right, #4433ff, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.heroSection{background: rgb(24,18,43);
  background: -moz-linear-gradient(180deg, rgba(24,18,43,1) 0%, rgba(24,18,43,1) 51%, rgba(88,88,251,0.8435749299719888) 100%);
  background: -webkit-linear-gradient(180deg, rgba(24,18,43,1) 0%, rgba(24,18,43,1) 51%, rgba(88,88,251,0.8435749299719888) 100%);
  background: linear-gradient(180deg, rgba(24,18,43,1) 0%, rgba(24,18,43,1) 51%, rgba(88,88,251,0.8435749299719888) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18122b",endColorstr="#5858fb",GradientType=1);}
.heroSecImg{
  background: rgb(88,88,251);
  background: -moz-linear-gradient(180deg, rgba(88,88,251,0.8435749299719888) 0%, rgba(24,18,43,1) 52%, rgba(24,18,43,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(88,88,251,0.8435749299719888) 0%, rgba(24,18,43,1) 52%, rgba(24,18,43,1) 100%);
  background: linear-gradient(180deg, rgba(88,88,251,0.8435749299719888) 0%, rgba(24,18,43,1) 52%, rgba(24,18,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5858fb",endColorstr="#18122b",GradientType=1);}
